*{
	box-sizing: border-box;
}
.wrapper{
	font-family: roboto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 auto;
}
.box-area{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}
.box-data{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background: linear-gradient(to right,#fff 45%,#000 45%,#000 45%,#fff 50%);
	order: 2;
	text-align: center;
	font-size: 28px;
	flex-basis: 100px;
	color: #fff;
}
.box-data > span{
	font-size: 20px;
	padding: 10px;
	margin: auto;
	background: cornflowerblue;
}
.box-text{
	text-align: center;
	padding: 20px;
	border-radius: 25px;
	color: #fff;
	order: 3;
	width: 80%;
	padding-left: 10px;
	background: #fc5795;
	margin-bottom: 3%;
}
.box-text h2{
	margin: 0;
	font-size: 20px;
	text-transform: uppercase;
}

@media (min-width: 640px) {
	.box-text,
	.custom{
		width: 200px;
	}
	.box-right .box-text{
		order: 1;
		padding-right: 10px;
		border-radius: 25px;
	}
	.box-right .custom{
		order: 3;
	}
} 


