
  .flower {
    position: fixed;
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    animation: fall 5s linear infinite;
  }
  @keyframes fall {
    0% {
      transform: translate(0, -50px);
      opacity: 0;
    }
    100% {
      transform: translate(0, 800px);
      opacity: 1;
    }
  }
  