@font-face {
	font-family: z1;
	src: url(static/font/ziti.ttf);
}

@font-face {
	font-family: z2;
	src: url(static/font/qf.ttf);
}

@font-face {
	font-family: z3;
	src: url(static/font/zitiu.ttf);
}

@font-face {
	font-family: z4;
	src: url(static/font/zitiz.ttf);
}