@font-face {
    font-family: sxt;
    src: url("../fonts/other/谦度手写楷体.ttf");
}

@font-face {
    font-family: xk;
    src: url("../fonts/other/三极行楷简体-粗.ttf");
}
@font-face {
    font-family: alimama;
    src: url("../fonts//other/Alimama_DongFangDaKai_Regular.ttf");
}